<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960439265393-lohajul6u694qr1v2bivi63thgftr7nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960439265393-lohajul6u694qr1v2bivi63thgftr7nd</string>
	<key>API_KEY</key>
	<string>AIzaSyC_te6Bz16iHir-8nHcGeV-Z93dsUqKX44</string>
	<key>GCM_SENDER_ID</key>
	<string>960439265393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebase-example</string>
	<key>PROJECT_ID</key>
	<string>fir-example-2d203</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-2d203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960439265393:ios:d5e51b94ae6c780b7153d0</string>
</dict>
</plist>